.text {
  font-size: 4rem;
  background: linear-gradient(180deg, #1d5bfc 0%, #c238bd 115%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "RTAliasMedium", monospace;
}
