---
import IntroSection from "../components/IntroSection";
import { getUser, redirectUser } from "@astro-auth/core";
import UserStore from "../components/UserStore";

const user = getUser({ client: Astro });
if (!user) {
  return redirectUser("/");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <UserStore {user} client:load />
  </head>

  <body>
    <IntroSection client:load isSignIn={true} {user} />
  </body>
</html>
