---
import IntroSection from "../components/IntroSection";
import { getUser } from "@astro-auth/core";

const user = getUser(Astro);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>

  <body>
    <IntroSection client:load {user} />
  </body>
</html>
