---
import IntroSection from "../components/IntroSection";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>

  <body>
    <IntroSection client:load />
  </body>
</html>
