---
import IntroSection from "../components/IntroSection";
import { getUser,getError } from "@astro-auth/core";
import UserStore from "../components/UserStore";


const user = getUser({ client:Astro });
const error = getError(Astro);
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <UserStore user={user as any} client:load />
  </head>
  <body>
    <div>
      {error && <div>{error}</div>}
    </div>

    <IntroSection client:load {user} />
  </body>
</html>
