---
import IntroSection from "../components/IntroSection";

import { getUser, redirectUser } from "@astro-auth/core";

const session = getUser(Astro);
if (session) {
  return redirectUser("/dashboard");
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>

  <body>
    <IntroSection client:load />
  </body>
</html>
